@model JuhMesquitaViagens.Models.User

@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <h1 class="display-4">Login</h1>

@using (Html.BeginForm("Login","UsersController", FormMethod.Post))
{
    <Br />
    @Html.Label("E-mail: ")
    <input type="text" class="form-control" aria-describedby="Email" asp-for="email">
    <Br />
    @Html.Label("Senha: ")
    <input type="text" class="form-control" aria-describedby="Senha" asp-for="password">
    <Br />
    <Br />
    <input class="btn" type="submit" value="Entrar" />
}
    <p> <a asp-action="Recovery">Esqueceu sua senha?</a>  | <a asp-action="Create">Cadastre-se</a></p>
</div>